<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Users</h1>
</div>

<%= will_paginate @users %>

<div class="row">
  <div class="table-striped">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Handle</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>

<%= will_paginate %>

<div class="row">
    <%= link_to 'New User', new_user_path, class: "btn btn-info users-buttons" %>
</div>
