<div class="container">
  <div class="row">
    <% if nil != current_user && current_user.id == @user.id %>
      <h1>My Profile</h1>
    <% else %>
      <h1>User Profile</h1>
    <% end %>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  </div>

  <br>

  <div class="row">
    <% if nil != current_user && (current_user.admin? || current_user?(@user))%>
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success" %> |
    <% end %>
    <% if nil != current_user && (current_user.admin?)%>
    <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
    <% end %>
    <%= link_to 'Back', users_path, class: "btn btn-info" %>
  </div>

</div>
