<p id="notice"><%= notice %></p>

<% provide(:title, "My Profile") %>

<div class="row">
  <%= render 'user_info' %>
  <div class="col-sm-7 tweets">
    <% if @user.tweets.any? %>
      <h3>Tweets (<%= @user.tweets.count %>)</h3>
      <ol class="tweets-list">
        <%= render @tweets %>
      </ol>
      <%= will_paginate @tweets %>
    <%else%>
      <h3>No Tweets to Show :(</h3>    
    <% end %>
  </div>
</div>
