<div class="container">
  <div class="row">
    <% if current_user.id == @user.id %>
      <h1>My Profile</h1>
    <% else %>
      <h1>User Profile</h1>
    <% end %>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  </div>

  <br>

  <div class="row">
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success" %> |
    <%= link_to 'Back', users_path, class: "btn btn-info" %>
  </div>

</div>
